.nav-wrapper {
  background: linear-gradient(#05FBFF, #1E00FF);
  text-align: center;
}

.pagination {
  background : linear-gradient(to right,
  red,
  orange,
  yellow,
  green,
  aqua,
  blue,
  purple);
  text-align: center;
  color: black;
}

.brand-logo {
  font-family: impact;
}

h1, h2 {
  font-family: impact;
  color: black;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

